@page
@model SportFieldBooking.Pages.Clientes.CreateModel
@{
    ViewData["Title"] = "Crear Cliente";
}
<h1>Crear Cliente</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Cliente.Nombre" class="control-label"></label>
                <input asp-for="Cliente.Nombre" class="form-control" />
                <span asp-validation-for="Cliente.Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cliente.Apellido" class="control-label"></label>
                <input asp-for="Cliente.Apellido" class="form-control" />
                <span asp-validation-for="Cliente.Apellido" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cliente.Email" class="control-label"></label>
                <input asp-for="Cliente.Email" class="form-control" />
                <span asp-validation-for="Cliente.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cliente.Teléfono" class="control-label"></label>
                <input asp-for="Cliente.Teléfono" class="form-control" />
                <span asp-validation-for="Cliente.Teléfono" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Crear</button>
            <a asp-page="Index" class="btn btn-primary">Volver a la lista</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}